/* General styles and reset for margin and padding. */
* {
  margin: 0px;
  padding: 0px;
}

.edges {
  padding: 10px 15%;
}

/* Settings for HTML elements. */
h1 {
  font-size: xx-large;
  width: 100%;
}

body {
  width: auto;
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
}

img {
  width: 100%;
  height: auto;
}

/* ID settings */
#top {
  background-image: url(PICs/scott-goodwill-y8Ngwq34_Ak-unsplash.jpg);
  color: white;
  text-align: right;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 400px;
  word-spacing: 100vw;
  position: relative;
}

#topText {
  position: absolute;
  bottom: 5%;
  right: 20%;
}

#aboutUs {
  display: flex;
  box-sizing: border-box;
}

#whatWeDo {
}

#ourTrips {
  display: flex;
  flex-flow: wrap;
}

#ourTrips div {
  height: 200px;
  width: 33%;
}

#whereGo {
  display: flex;
}

#reviewers {
  display: flex;
}

#reviewers img {
  border-radius: 50%;
  width: 50%;
}

#endPics {
  display: flex;
  flex-flow: row wrap;
  align-content: center;
}

#endPics img {
  width: 50%;
}

/* Classes */

.containerUnit {
  max-width: 50%;
  padding: 5px;
  /* box-sizing: border-box; */
}

.image {
  width: 100%;
}

.blackBcg {
  background-color: dimgray;
  color: aliceblue;
}

.textCent {
  text-align: center;
}

.contIcons {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.icons {
  width: 50px;
}
