/* General styles and reset for margin and padding. */
* {
  margin: 0px;
  padding: 0px;
}

:root {
  font-family: 'Roboto', sans-serif;
  background-color: #f2f2f2;
}

/* Settings for the HTML elements. */
h1 {
  font-size: xx-large;
  padding: 0.5em;
}

h2 {
  padding: 1em 10px 0px 10px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

h3 {
  padding: 10px;
  margin-bottom: 1em;
}

h4 {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 2em;
  padding: 1em;
}

h5 {
  text-decoration: underline;
  padding: 0.5em;
}

body {
  width: auto;
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.elmPics img, .rounded {
  border-radius: 5px;
}

p {
  text-align: left;
  padding: 1em;
}

button {
  padding: 0.5em;
  width: 100px;
}

a {
  color: #efa69d;
}

a:hover {
  color: #e9877b;
}

/* UNIQUE TOP MENU */
#top {
  background-image: url(PICs/scott-goodwill-y8Ngwq34_Ak-unsplash.jpg);
  color: white;
  text-align: right;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 400px;
  word-spacing: 100vw;
  position: relative;
}

#topText {
  position: absolute;
  bottom: 5%;
  right: 17%;
}

.icons {
  width: 15%;
  margin-left: auto;
  margin-right: auto;
}

.icons img {
  filter: invert(100%);
  height: auto;
  margin: 5px;
}

.center-text {
  text-align: center;
}

#contacts p {
  font-size: small;
  text-align: center;
}

.blackBcg {
  background-color: #33292a;
  color: aliceblue;
}

.blackBcg-2 {
  background-color: #644b4f;
  color: aliceblue;
}

.blackBcg-3 {
  background-color: #333333;
  color: aliceblue;
}

.container-unit{
  flex: 0 1 45%;
  height: 100%;
}

.container-unit-where-1 {
  flex: 1 1 0px;
}

.leftAlign {
  text-align: left;
}

.container-unit-where-2 {
  flex: 2 2 0px;
  padding-left: 1.5em;
}

.elmPics {
  display: flex;
  padding: 0.2em;
}

.elmPics h4 {
  align-self: center;
  text-align: center;
}

.grid-container-two div {
  height: 250px;
}

.one-column {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.round-face {
  border-radius: 75px;
  height: 150px;
  width: 150px;
  object-fit: cover;
}

/* Media query */
@media only screen AND (min-width:450px) AND (max-width: 767px) {
  .container {
    padding: 1em;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* gap: 0.3em; */
    /* padding: 0.3em; */
  }

  .grid-container-two {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0px;
  }

  .icons{
    width: 8%;
  }

  .one-column {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media only screen AND (min-width: 768px) {
  .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .one-column {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }

  .grid-container {
    display: grid;
    /* grid-template-columns: 1fr 1fr 1fr; */
    /* Rozlozeni nize 1 2 1 se mi zda daleko hezci. */
    grid-template-columns: 1fr 2fr 1fr;
  }

  .grid-container-two {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0px;
  }

  .border-sides{
    padding: 0px 15%;
  }

  .icons {
    width: 8%;
  }
}

