/* General styles and reset for margin and padding. */
* {
  margin: 0px;
  padding: 0px;
}

.edges {
  padding: 10px 15%;
}

/* Settings for HTML elements. */
h1 {
  font-size: xx-large;
  width: 100%;
}

h3 {
  padding: 10px;
}

h5 {
  text-decoration: underline;
}

body {
  width: auto;
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
}

img {
  width: 100%;
  height: auto;
}

p {
  text-align: left;
  padding: 10px;
}

/* ID settings */
#top {
  background-image: url(PICs/scott-goodwill-y8Ngwq34_Ak-unsplash.jpg);
  color: white;
  text-align: right;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 400px;
  word-spacing: 100vw;
  position: relative;
}

#topText {
  position: absolute;
  bottom: 5%;
  right: 20%;
}

/* About us section */
#aboutUs div h2 {
  padding-top: 5px;
  padding-bottom: 5px;
}

#aboutUs {
  display: flex;
  box-sizing: border-box;
}

/* Entire section for part what we do */

#contIcons {
  margin: 10px;
  display: flex;
  justify-content: center;
  padding: 5px;
  justify-content: space-around;
}

#contIcons div {
  width: 80px;
  /* Doresit problemy se sirkou. */
}

#whatWeDo h1,
#whatWeDo p {
  text-align: center;
  margin: 10px;
}

#whatWeDo img {
  filter: invert(100%);
  margin: 5px;
}

#ourTrips {
  display: flex;
  flex-flow: wrap;
}

#ourTrips div {
  height: 200px;
  width: 32%;
  margin: 3px;
  box-sizing: border-box;
  /* docelat box sizing, neni to zde presne */
  position: relative;
}

#ourTrips div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#ourTrips div h1 {
  text-align: center;
  position: absolute;
  /* zarovnani se mi nelibi, neni to presne */
  top: 40%;
}

#whereGo,
#whereGo p {
  display: flex;
}

#whereGo div {
  text-align: left;
  width: 30%;
  padding: 10px;
}

#reviewsFirst {
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

#reviewers {
  display: flex;
  justify-content: space-around;
}

#reviewers img {
  border-radius: 50%;
  width: 40%;
}

#reviewers div {
  width: 40%;
}

#endPics {
  display: flex;
  flex-flow: row wrap;
  align-content: center;
}

#endPics img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#endPics div {
  height: 200px;
  width: 50%;
}

#contacts p {
  font-size: small;
  text-align: center;
}

/* Classes */

.containerUnit {
  max-width: 50%;
  padding: 5px;
  /* box-sizing: border-box; */
}

.image {
  width: 100%;
}

.blackBcg {
  background-color: rgb(29, 29, 29);
  color: aliceblue;
}

.textCent {
  text-align: center;
}
